* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
nav {
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
nav ul {
  list-style-type: none;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
nav ul li a {
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black;
  padding: 10px 15px;
}

.example1 {
  display: flex;
  margin-left: 5%;
  width: 650px;
  height: 400px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(143, 146, 146);
  font-size: 16px;
  flex-wrap: wrap;
  padding-left: 10px;
  color: white;
}
.example {
  margin-right: 4%;
  border-radius: 5px;
  float: right;
}
main section {
  display: flex;
  max-width: 867px;
  margin: 0 auto;
  flex-flow: row wrap;
  padding: 15px 0;
}
main section article {
  flex: 1 1 calc(33.33% - 20px);
  margin: 0 10px 15px;
  padding: 10px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
main section article p,
main section article h3 {
  margin: 5px 0 0 0;
}
.sample-picture {
  height: 150px;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Picture";
  margin: -15px;
  margin-bottom: 0;
}
.sample-picture:after {
  display: block;
  content: "Picture";
}

@media (max-width: 763px) {
  nav ul {
    flex-direction: column;
  }
  header h1,
  header p {
    width: 80%;
  }
  main section article {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 550px) {
  header h1,
  header p {
    width: 100%;
  }
  main section article {
    flex: 1 1 calc(100% - 20px);
  }
}
.example2 {
  width: 300px;
  height: 300px;
  background-color: silver;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
  margin: 50px;
  transition: 0.5s;
  float: left;
}
.example3 {
  margin-top: 6%;
  font-family: "Work Sans", sans-serif;
}
.example4 {
  width: 300px;
  height: 300px;
  background-color: silver;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
  margin: 50px;
  transition: 0.5s;
  float: right;
}
.services-item2 {
  width: 450px;
  height: 400px;
  position: absolute;
  left: 15%;
  right: 10%;
  top: 450%;
  border: 1px solid #cacaca;
  box-shadow: 0px 5px 4px rgba(252, 221, 221, 0.25);
}
.services-item2 img {
  position: absolute;
  left: 430px;
}
.services-item2 h2 {
  position: absolute;
  left: 30px;
  right: 13%;
  top: 5%;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #2d3748;
}
.services-item2 p {
  flex-wrap: wrap;
  position: absolute;
  left: 5.67%;
  right: 8.33%;
  top: 20%;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #718096;
}
.services-item2 p:nth-child(2n) {
  position: absolute;
  left: 5.33%;
  right: 64%;
  top: 80%;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;

  color: #718096;
}
h5 {
  position: absolute;
  left: 71%;
  right: 8%;
  top: 80%;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;

  color: #2d3748;
}
h1 {
  color: red;
  text-decoration: underline;
  font-style: italic;
}
#first-paragraph {
  color: blue;
}
#first-paragraph {
  color: orange;
}
#first-paragraph-6 {
  color: black;
}
